.title {
  margin: 0;
  width: 10rem;
}
footer {
  background-color: var(--brand-green);
}

.footerContainer {
  max-width: 1450px;
  margin-inline: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 100px 10px;
}

.leftFooterInfoContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
  padding-left: 67px;
}

.leftFooterInfoContainer > img {
  width: 18rem;
}

.doctorYear {
  color: #fffaf1;
  font-size: 1.1rem;
}

.todosPara {
  color: #fffaf1;
  font-size: 1.1rem;
}

.logoLinks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding-right: 46px;
}

.logoLinks > a > img {
  width: 30px;
  height: auto;
}

@media (max-width: 915px) {
  .footerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    padding: 100px 37px;
  }
  .leftFooterInfoContainer {
    padding: 0;
  }
  .leftFooterInfoContainer > img {
    width: 27rem;
  }
  .doctorYear {
    font-size: 32px;
  }
  .todosPara {
    font-size: 32px;
  }
  .logoLinks > a > img {
    width: 50px;
  }
  .logoLinks {
    gap: 64px;
  }
}
