:root {
  --brand-green: #00856f;
  --brand-green-light: #dce9e2;
  --brand-green-light-02: #f7f9f9;
  --brand-beige: #fffaf1;
  --brand-green-hover: #00453a;

  --gray-headline: #061800;
  --gray-paragraph: #384633;
  --white: #ffffff;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
